/*1. color general de la lletra negra*/
p{
    color:black;
}

/*2. titol nivell 1 fons blanc lletra gris*/
#titol-pagina{
    background-color: white;
    color: gray;
}

/*3. tots els strong en color verd i subratllats*/
.paragraf2 strong, .paragraf1 strong {
    color: green;
    text-decoration: underline;
}

/*4. enllaços del paràgraf2 en italica*/
.paragraf2 a {
    font-style: italic;
}

/*5. footer general del web centrat i lletra de 10px*/
.titol_destacat ~ footer{
    text-align: center;
    font-size: 10px;
}


/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/

div .paragraf2 strong, div .paragraf1 strong {
    color: green;
    text-decoration: underline;
}

div .paragraf2 a {
    font-style: italic;
}